Django>=4.2,<5
djangorestframework
djangorestframework-simplejwt
django-filter
psycopg2-binary
drf-yasg
python-dotenv
#production needs these packages
gunicorn
whitenoise[brotli]
psycopg2-binary
dj-database-url
python-decouple
